/* @import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600;700&display=swap");
@import "tailwindcss";

body {
    background-color: #191919;
    font-family: var(--font-sans);
    font-feature-settings: "liga", "kern";
    -webkit-font-smoothing: antialiased;
}

::selection {
  background: white;
  color: #191919;
}

::-moz-selection {
  background: white;
  color: #191919;
}

.swiper-button-prev, .swiper-button-next {
    top: 30px !important;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid color-mix(in srgb, rgb(161, 161, 161) 20%, transparent);
    padding: 10px;
    border-radius: 0 !important;
    
    svg {
        color: white;
    }
}

.swiper-button-prev {
    left: 8px !important;
}

.swiper-button-next {
    right: 8px !important;
}

.w-fill {
    width: -webkit-fill-available;
}